#todo-list {
	margin: 25px;
	font-family: 'Coming Soon', cursive;
	text-transform: capitalize;
	margin-top: 25px;
	padding-top: 50px;
}

#completed-list {
	margin: 25px;
	font-family: 'Coming Soon', cursive;
	text-transform: capitalize;
	margin-top: 25px;
	padding-top: 50px;
	text-decoration: line-through;
}

header {
	margin-bottom: 10px;
}

button {
	border-radius: 10px;
}

#info {
	font-size: 50%;
	font-family: 'Shadows Into Light Two', cursive;
}

#button,
#instructions,
#buttonInput,
#completed {
	font-family: 'Coming Soon', cursive;
	font-size: 19px;
}


body {
	background-image: url("https://i.pinimg.com/originals/b2/68/1e/b2681e174b32978e4a5deb39855cd56e.jpg");
}

h1 {
	font-family: 'Rock Salt', cursive;
}

footer {
	font-size: 75%;
}

#clearButton {
	float: right;
}

.lead {
	float: right;
	margin-bottom: 10px;
}

#info {
	float: left;
}